<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @rumojinized_article.body %>
</p>

<%= link_to 'Edit', edit_rumojinized_article_path(@rumojinized_article) %> |
<%= link_to 'Back', rumojinized_articles_path %>
